html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f0cfc6;
  background-image: linear-gradient(
    179deg,
    #f0cfc6 0%,
    #e9b2c5 50%,
    #7d82e1 100%
  );
  padding: 0;
  margin: 0;
  overflow: hidden;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

/* Header */
.header-container {
  position: relative;
  user-select: none;
  z-index: 10;
}

.loading-container {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-container {
  z-index: 0;
  position: absolute;
  width: 4096;
  height: 4096;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Event details */
.stage-summary-container {
  position: absolute;
  bottom: 6px;
  left: 150px;
  z-index: 10;
}

.stage-sponsors-container {
  position: absolute;
  top: 30px;
  z-index: 10;
}

/* Animations  */

/* Loading Rotation Animation */
.loading-rotate {
  pointer-events: none;
  animation: loading-rotate-interval infinite 2s linear;
}

@keyframes loading-rotate-interval {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
